@model exploreprophecy.Contact

<h4>Greetings,</h4>
<p>We are writing to notify you that someone has registered for your event, Explore Prophecy.</p> 
<div class="container yellow"></div>
<p>@Model.Name</p>
<p>@Model.Address</p>
<p>@Model.City, @Model.State @Model.Zip</p>
@if(!string.IsNullOrWhiteSpace(Model.Email)){
    <p>@Model.Email</p>
}
@if(!string.IsNullOrWhiteSpace(Model.Phone)) {
    <p>@Model.Phone</p>
}
<p>Planned for @Model.NumberAttending adults and @Model.NumberOfChildrenAttending children.</p>
<br/>
<p>Your friends at Online Christian Services</p>
