<div fxLayout="column" fxLayout.gt-sm="row">
  <!-- left column -->
  <div fxFlex fxFlex.gt-sm="50" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
            <div fxLayout="column">
              <div fxLayoutAlign="center center" style="margin-bottom:48px">
                <img src="/assets/images/title.png" width="80%" />
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                <div hide show.gt-sm flex>
                  <div fxLayoutAlign="center center" style="margin-bottom:48px">
                    <img src="/assets/images/cover.png" width="100%" class="cover" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div fxFlex fxFlex.gt-sm="50" class="r-column">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
      <div>
        <div fxLayoutAlign="center center">
          <h1 class="mat-display-1 caption">An in depth look at ancient predictions & signs that directly affect
            your life!</h1>
        </div>
        <div fxLayoutAlign="center center" style="padding:12px">
          <img src="/assets/images/date.png" width="90%"/>
        </div>
        <h1 fxLayout='row' fxLayoutAlign='center center' class="mat-display-2" style='font-style: italic'>"Revelation's Impending Conflict"</h1>
        <h1 fxLayout='row' fxLayoutAlign='center center' class='mat-headline'>Series continues Nightly Except: Sundays
          and Thursdays</h1>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign='space-between center'>
      <div fxLayout="column">
        <div fxShow.gt-md fxFlex="50">
          <h1 fxLayout='row' fxLayoutAlign='center center' class="mat-display-2 address "><strong>CHURCH AUDITORIUM</strong>
          </h1>
          <h1 fxLayout='row' fxLayoutAlign='center center' class="mat-display-1 ">6530 Sandy Ridge Dr&middot;Hope, MI
          </h1>
          <!-- <h1 class="mat-title date1">(located in the Giant Shopping Center</h1>
                    <h1 class="mat-title date1">behind Minnieland off Dominion Valley Blvd)</h1>
                    <h1 class="mat-display-1 date1">Haymarket, VA 20169</h1> -->
        </div>
        <div fxHide.gt-md fxFlex="50">
          <h1 fxLayout='row' fxLayoutAlign='center center' class="mat-display-1 "><strong>CHURCH AUDITORIUM</strong>
          </h1>
          <h1 fxLayout='row' fxLayoutAlign='center center' class="mat-display-1 ">6530 Sandy Ridge Dr&middot;Hope, MI
          </h1>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign='space-between center' fxLayoutGap='8px'>
        <img src="/assets/images/map.png" width="90%" />
      <div class="btn-img">
        <button mat-button  routerLink='register'>
          <img src="/assets/images/button.png" width="100%" />
        </button>
      </div>
      </div>
    </div>
  </div>
</div>